.review-section{
    background-color: red;
    height: 100vh;
   
  }

  .review-section h4{
    color: White;
    letter-spacing: 2px;
  }


  
  .carousel-item{
    background-color: rgb(155, 92, 92);
    padding: 11rem 0;
    
    border-radius: 20px;
  }
  .carousel-caption{
    color: black;
    width: 100% !important;
  }

  .carousel-item img{
    width: 100px !important;
    border-radius: 50%;
  }
   
  

  

  